
@{
    ViewBag.Title = "Pedido";
}

<h2>Cierre de Ventas</h2>

<form class="row d-print-none" method="get" action="/Ventas/Create">
    <div class="col-md-4">
        <label class="control-label">Ruta:</label>
        <select class="form-control" name="ruta" id="ruta">
            @foreach (var item in ViewBag.Rutas)
            {
                <option value="@item.Id">@item.Nombre</option>
            }
        </select>
    </div>
    <div class="col-md-1">
        <br />
        <button type="button" class="btn btn-dark btn-block" onclick="addToList()">+</button>
    </div>
    <div class="col-md-2">
        <br />
        <input name="rutas" id="rutas" hidden />
        <button type="submit" class="btn btn-dark">Generar</button>
    </div>

</form>
<div class="row">
    <ul class="col-md-12 bubble" id="listOfRoutes" style="margin-top:30px"></ul>
</div>


<script src="~/Content/js/jquery.min.js"></script>
<script>
    $("li").removeClass("navigation__active");
    $("#menu-ventas").addClass("navigation__active");

    function addToList() {
        var item = '<li style="display:inline; padding:10px; border:solid; margin: 8px">' + $("#ruta option:selected").text() + '</li>';
        var rutas = $("#rutas").val();
        $("#rutas").val(rutas + $("#ruta option:selected").val() + ",");
        $("#listOfRoutes").append(item);
    }
</script>