@model List<string>
@{
    ViewBag.Title = "Hugo";
}

<h2>Hugo</h2>

<form>
    <input type="text" name="nombre" value="" />
    <input type="text" name="miTexto" value="Este es el Contenido" style="border:none;background:none;" readonly>
    <input type="submit" value="Agregar" />

</form>

<ul>
    @foreach (var item in Model)
    {
        <li>@item</li>
    }
</ul>
