
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<script src="~/Content/js/jquery.min.js"></script>
<script>
    $("li").removeClass("navigation__active");
    $("#menu-reportes").addClass("navigation__active");
</script>