@{
    ViewBag.Title = "Abono";
}

<h2>Abono a Proveedor - @ViewBag.Proveedor.Nombre</h2>
<hr />


<form class="form-horizontal" method="post" action="Payment">
    <h4>Proveedor</h4>
    <hr />    
    <input hidden name="proveedorId" value="@ViewBag.Proveedor.Codigo" />

    <div class="row">
        <div class="form-group col-md-4">
            <label class="control-label col-md-2">Fecha</label>            
            <div class="col-md-10">
                <input required type="date" name="fecha" class="form-control" />                
            </div>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label col-md-2">Abono</label>
            <div class="col-md-10">
                <input required type="text" class="form-control" name="monto" />
            </div>
        </div>
        <div class="form-group  col-md-4">
            <label class="control-label col-md-2">Referencia</label>
            <div class="col-md-10">
                <input required type="text" class="form-control" name="referencia" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-dark" />
        </div>
    </div>
</form>
