@model Iris27.Models.Preventa

@{
    ViewBag.Title = "Create";
}

<h2>Crear</h2>

<div class="form-horizontal">
    <h4>Preventa</h4>

    <div class="form-group row">
        <label class="col-md-2">Cliente</label>
        <div class="col-md-4">
            <input class="form-control" type="text" autofocus id="codigoCliente" />
        </div>
        <label class="form-control col-md-6" id="nombreCliente">Nombre del Cliente</label>
    </div>
    <div class="form-group row">
        <label class="col-md-2">Vendedor</label>
        <div class="col-md-4">
            <select class="form-control" id="codigoVendedor">
                @foreach (var item in ViewBag.VendedorId)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-2">
            Código
            <input class="form-control" type="text" id="Codigo" />
        </div>
        <div class="form-group col-md-3">
            Nombre
            <input class="form-control" type="text" disabled id="Nombre" />
        </div>
        <div class="form-group col-md-1">
            Cantidad
            <input class="form-control text-right" type="number" min="1" value="1" id="Cantidad" onchange="CalcularSubTotal()" />
        </div>
        <div class="form-group col-md-2">
            Precio
            <input class="form-control text-right" type="number" min="1" value="1" id="Precio" onchange="CalcularSubTotal()" />
        </div>
        <div class="form-group col-md-2">
            Total
            <input class="form-control text-right" type="number" min="1" value="1" id="Total" disabled />
        </div>
        <div class="form-group col-md-2">
            <br />
            <button type="button" class="btn btn-dark" id="BtnAgregar" onclick="AgregarItems()">Agregar</button>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Codigo</td>
                <td>Nombre</td>
                <td>Cantidad</td>
                <td>Precio</td>
                <td>Total</td>
            </tr>
        </thead>
        <tbody id="tableDetail"></tbody>
        <tfoot>
            <tr style="font-weight:bold">
                <td colspan="4">Total</td>
                <td id="TotalGlobal">0</td>
            </tr>
        </tfoot>
    </table>

</div>


<div>
    @Html.ActionLink("Regresar", "Index")
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

<script>
    var n = 1;
    function AgregarItems() {
        var codigo = $("#Codigo").val();
        var nombre = $("#Nombre").val();
        var cantidad = $("#Cantidad").val();
        var precio = $("#Precio").val();
        var subtotal = $("#Total").val();
        var total = $("#TotalGlobal").text();
        total = Number(total) + Number(subtotal);
        $("#TotalGlobal").text(total);

        var fila = $('<tr class="bubble"><td id="c' + n + '">' + codigo + '</td><td id="n' + n + '">' + nombre + '</td><td id="q' + n + '">' + cantidad + '</td><td id="p' + n + '">' + precio + '</td><td id="t' + n + '">' + subtotal + '</td></tr>');
        $('#tableDetail').append(fila);
        n = n + 1;
        
        $("#Codigo").val("");
        $("#Nombre").val("");
        $("#Cantidad").val(1);
        $("#Precio").val(0);
        $("#Total").val(0);
        $("#Codigo").focus();
    }

    function CalcularSubTotal() {
        var cantidad = $("#Cantidad").val();
        var precio = $("#Precio").val();
        $("#Total").val(precio * cantidad);
    }

    function ObtenerNombreCliente(id) {
        $.get("/api/Data/ObtenerNombreCliente/" + id, function (data) {
            $("#nombreCliente").text(data.toString());
        });
    }
    $("#codigoCliente")
        .keypress(function (e) {
            if (e.which == 13 || e.which == 9) {
                ObtenerNombreCliente($("#codigoCliente").val())
            }
        })
        .focusout(function () {
            ObtenerNombreCliente($("#codigoCliente").val())
        });

    function ObtenerProducto(id) {
        $.get("/api/Data/ObtenerProducto/" + id, function (data) {
            console.log(data);
            $("#Nombre").val(data.Nombre);
            $("#Precio").val(data.Precio);
            CalcularSubTotal();
        });
    }

    $("#Codigo")
        .keypress(function (e) {
            if (e.which == 13 || e.which == 9) {
                ObtenerProducto($("#Codigo").val())
            }
        })
        .focusout(function () {
            ObtenerProducto($("#Codigo").val())
        });

    function GuardarPicking() {
        var cliente = $("#codigoCliente").val(); 
        var vendedor = $("#codigoVendedor").val();
        var productos = [];

        for (var i = 1; i < n; i++) {
            var producto = {Codigo: $("#c" + i).text()}
        }
    }
</script>